<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects Page</title>
</head>
<body>
    {{> header}}
    <p>Projects portfolio here</p>


    {{> footer}}
</body>
</html>